
.kex{
   width: 1920px;
   height: 1926px;
   background-color: #fff;
   position: absolute;

   
}
.imgane{
   width: 380px;
   height: 245px;
}
   .zagalovka{
      height: 60px;
      width: 1180px;
      left: 370px;
      position: relative;
      color: #2E363E;
      }
      .zagalovka p{
         font-family: Montserrat;
         font-size: 48px;
         font-weight: 500;
         text-align: center
         }
   .gird{
      width: 1180px;
      width: 1786px;
      top: 140px;
      padding-left: 350px;
      gap: 15px;
      position: absolute;
      display: grid;
      grid-template-columns: 380px 380px 380px ;
      grid-template-rows:  582px  582px 582px;
      border: 2px solid white;  
   }
  
   .krem{
     
      background-color: #C2C6D00F;
   }  
      .krem #p1{
         margin: 25px;;
         font-size: 24px;
         font-weight: 700;
   }
      .krem #p3{
         font-size: 16px;
         font-weight: 400;
         margin: 25px;
      }
      .krem #p4{
         font-size: 24px;
         font-weight: 500;
         margin: 25px;
      }
      .krem button{
         margin: 25px;
         background-color: #FED84C;
         width: 163px;
         height: 68px;
         border: #FED84C;
         border-radius: 8px;
         font-weight: 500;
         font-size: 18px;
         
      }
   .malina{
      background-color: #C2C6D00F;
   }     .malina #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
}
   .malina #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;
   }
   .malina #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .malina button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }
   .fair{
      background-color: #C2C6D00F;
   }
   .fair #p1{ 
      left: 25px;
      position: relative;
      font-size: 24px;
      font-weight: 700;
}
   .fair #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;;
   }
   .fair #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .fair button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }
   .choco{
      background-color: #C2C6D00F;
   }
   .choco #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
}
   .choco #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;
   }
   .choco #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .choco button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }
   .sleza{
      background-color: #C2C6D00F;
   }
   .sleza #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
}
   .sleza #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;
   }
   .sleza #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .sleza button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }
   
   .letnaya{
      background-color: #C2C6D00F;
   }
   .letnaya #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
   }
   .letnaya #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;
   }
   .letnaya #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .letnaya button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }
   .mus{
      background-color: #C2C6D00F;
   }
   .mus #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
   }
   .mus #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;
   }
   .mus #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .mus button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }

   .oblachka{
      background-color: #C2C6D00F;
   }
   .oblachka #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
   }
   .oblachka #p2 {
      font-size: 16px;
      font-weight: 400;
      margin: 26px;
   }
   .oblachka #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .oblachka button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }
   .dark{
      background-color: #C2C6D00F;
   }
   .dark #p1{ 
      margin: 25px;
      font-size: 24px;
      font-weight: 700;
   }
   .dark #p2{
      font-size: 16px;
      font-weight: 400;
      margin: 25px;
   }
   .dark #p3{
      font-size: 24px;
      font-weight: 500;
      margin: 25px;
   }
   .dark button{
      margin: 25px;
      background-color: #FED84C;
      width: 163px;
      height: 68px;
      border: #FED84C;
      border-radius: 8px;
      font-weight: 500;
      font-size: 18px;
      
   }


 